@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Yeseva+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --primaryBrown:#446A46;
  --hoverBrown:#E3FCBF90;
  --yellow:#F9D923;
}


.curveFont{
  font-family: 'Yeseva One', cursive;
}

ul{
  list-style: none;
}