.card{
    width: 370px;
    height: 370px;
    min-width: 250px;
    margin: 0px 0px;
    /* background-color: #ffffff90; */
    padding: 15px 10px;
    /* background-color: #E3FCBF; */
    border-radius: 10px;
    /* border: 1px solid var(--yellow); */
}

.imgContainer{
    width: 320px;
    height: 100%;
    position: relative;
    margin: auto;
    transform: translateX(-30px);
}

.imgMainWrap{
    width: 100%;
    height: 250px;
}

.content{
    height: 70px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    background-color: var(--yellow);
}

.text{
    font-size: small;
    width: calc(100% - 40px);
    color: var(--primaryBrown);
    font-weight: 700;
}

.number{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 15px;
    color: #fff;
    font-weight: 500;
    height: 30px;
    width: 30px;
    background-color: var(--primaryBrown);
    border-radius: 50px;
}

@media only screen and (max-width:450px){
    .content{
        height: 80px;
    }

    .imgContainer{
        width: 300px;
    }

    .card{
        width: 100%;
        margin: 10px 0;
        padding: 0;
    }
}