.card{
    width: 300px;
    min-width: 300px;
    background-color: #fff;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #00000080;
    overflow: hidden;
    cursor: pointer;
}

.card:hover .imgContainer{
    transform: scale(1.2);
}

.imgMainWrap{
    overflow: hidden;
}

.imgContainer{
    width: 100%;
    height: 200px;
    position: relative;
    transition: 0.5s ease;
}

.heading{
    text-align: center;
    margin: 5px 0;
}
